input,
textarea,
select {
  appearance: none;
  width: 100%;
  border-radius: 0.5rem;
  border: 1px solid var(--input-stroke);
  padding: 0.75rem 1rem;
  font: var(--open-md);
  background-color: var(--input-base);
}

textarea {
  resize: none;
}

label {
  font: var(--open-sm);
  color: var(--text-body);
  display: block;
  margin-bottom: 0.75rem;
}

input:focus,
textarea:focus,
select:focus {
  outline: 0.125rem solid var(--brand-light);
  /* border: 0.125rem solid var(--brand-mid); */
}

.event-about .flex {
  gap: 1rem;
}

.contact .flex {
  gap: 1rem;
}

input {
  &[required] + .error {
    display: flex;
    align-items: center;
    gap: 0.45rem;
    margin-top: 0.35rem;
  }
  &:not(:focus):valid + .error {
    display: none;
  }
  &:invalid {
    border: 0.125rem solid var(--danger);
  }
}

.error img {
  max-width: 1.5rem;
}

.error span {
  font: var(--open-xs);
  color: var(--danger);
}
