@import url(fields/index.css);
@import url(fields/radio.css);
@import url(fields/color-styles.css);
@import url(fields/checkbox.css);
@import url(fields/button.css);

fieldset {
  border: none;
  display: grid;
  gap: 1rem;
}

/* legend {
  font: ;
  margin-bottom: 1.5rem;
} */

fieldset + fieldset {
  margin-top: 3rem;
}

.input-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
